
body {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: 71.3px 71.3px 71.3px 71.3px 71.3px 71.3px;
    column-gap: 10px;
    row-gap: 10px;
}

#game-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    border: solid 1px black;
    height: 30rem;
    width: 480px;
    position: relative;
}

#button-container {
    display: flex;
    width: 42%;
    justify-content: space-evenly;
}

/* @keyframes move {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: 50%;
    }
    100% {
        margin-left: 0%;
    }
} */