
body {
    margin-top: 5%;
    background: #3399ff;
    /* overflow: hidden; */

}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 10px;
    row-gap: 10px;
}

#game-container {
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    border: solid 1px black;
    height: 30rem;
    width: 480px;
    background-color: rgba(255, 255, 255, .2);
    position: relative;
}

#button-container {
    display: flex;
    width: 42%;
    justify-content: space-evenly;
    position: relative;
}

/* @keyframes move {
    0% {
        margin-left: 0%;
    }
    50% {
        margin-left: 50%;
    }
    100% {
        margin-left: 0%;
    }
} */
  

#lives {
    align-items: flex-start;
}

.lives-and-score {
    display: flex;
    justify-content: space-evenly;
}