@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
:root {
    --pixel-size: 6;
   }
   body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: url(bg2.jpeg);
    background-position: 100%;
    font-family: 'Press Start 2P', cursive;
    color: rgb(233, 207, 6);
   }

   main {
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   
   #title-text {
       font-size: 2em;
   }
   
   .grid {
       margin: 4px;
       display: grid;
       grid-template-columns: 50.3px 50.3px 50.3px 50.3px 50.3px 50.3px 50.3px 50.3px 50.3px 50.3px;
       column-gap: 5px;
       row-gap: 2px;
   }
   
   #game-container {
    border: solid 5px rgb(233, 207, 6);
    border-radius: 3px;
    height: 32rem;
    width: 560px;
    position: relative;
    backdrop-filter: blur(100px);
   }
   
   #player {
       background-image: url(grass-tile.png);
       image-rendering: pixelated;
       background-repeat: no-repeat;
       background-size: cover;
   }
   
   .ballbox {
       width: calc(6px * var(--pixel-size));
       height: calc(6px * var(--pixel-size));
       /* background-color: rgba(0, 255, 132, 0.7); */
       overflow: hidden;
       position: absolute !important;
       bottom: 66px;
   }
   
   #sprite {
       width: calc(121px * var(--pixel-size));
       /* width: calc(77px * var(--pixel-size)); */
       object-fit: cover;
       image-rendering: pixelated;
       /* transform: translate(-24.5px, -6%); */
       transform: translate(-24.5px, -6%);
   }

   .chilling {
    animation: 
    tailwag 1.85s steps(4) infinite;
   }
   .cat-moving-up {
    width: calc(100px * var(--pixel-size)) !important;
        animation:
            cat-up 5s steps(1) infinite;
   }
   .cat-moving-down {
    width: calc(100px * var(--pixel-size)) !important;
    transform: translate(-40.8%,-84%) !important
   }

   .cat-flipped-up {
    width: calc(100px * var(--pixel-size)) !important;
    transform: translate(-77.8%,-85%) !important
   }
   .cat-flipped-down {
    width: calc(100px * var(--pixel-size)) !important;
    transform: translate(-319.5px, -84%) !important
   }

   #water {
       background-image: url(water.png);
       background-size: cover;
       image-rendering: pixelated;
   }
   
   #button-container {
        display: flex;
        width: 128%;
        justify-content: space-evenly;
        padding-top: 1em;
        margin-bottom: 4em;
   }
   
   @keyframes tailwag {
       from {
           transform: translate(-3.5%,-6%);
       }
       to {
           transform: translate(-53.5%,-6%);
       }
   }

   @keyframes cat-up {
        from {
            transform: translate(-15.8%,-85%);
        }
        to {
            transform: translate(-15.8%,-85%);
        }
   }
   @keyframes cat-down {
        from {
            transform: translate(-40.8%,-84%);
        }
        to {
            transform: translate(-40.8%,-84%);

        }
   }

.flip {
    width: calc(100px * var(--pixel-size)) !important;
    transform: translate(-52.8%,-84%) !important;
    
}

#lives {
    align-items: flex-start;
}

.lives-and-score {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#timer-div {
    text-align: center;
    padding: 2em;
    font-size: 20px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


#gameStart {
    background: transparent;
    border: transparent;
    font-family: 'Press Start 2P', cursive;
    color: #7fc320;
    font-size: 21px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
#gameStart:hover,
#gamePause:hover {
    cursor: pointer;
    color: aliceblue;
    font-size: 22px;
}
#gamePause {
    background: transparent;
    border: transparent;
    font-family: 'Press Start 2P', cursive;
    color: #e84242;
    font-size: 19px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#pause-menu {
    padding: 10px 0px 0px 25px;
    top: 270px;
    position: absolute;
    width: 350px;
    height: 18rem;
    border: solid black 1px;
    background-color:rgb(17, 0, 198);
    display: none;
}

#kitty-pause {
    width: calc(12px * var(--pixel-size));
    height: calc(12px * var(--pixel-size));
    padding-left: 5px;;
    /* background-color: #7fc320; */
    overflow: hidden;

}
#pause-sprite {
    width: calc(196px * var(--pixel-size));
    object-fit: cover;
    image-rendering: pixelated;
    transform: translate(0px, -64%);
    animation: sleep 2s steps(4) infinite;
}
.blur {
    opacity: 50%;
}
@keyframes sleep {
    from {
        transform: translate(-3.1%,-65%);

    }
    to {
        transform: translate(-53.1%,-65%);
    }
}
